.about {
  background-color: #1b262f;
  background-size: contain;
  background-image: url(/img/about-bg-m.png);
  background-repeat: no-repeat;
}

.about__container {
  text-align: center;
  margin-top: 10px;
}

.about__title {
  color: #fbfcfe;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.246px;
  margin-bottom: 16px;
}

.about__text {
  color: #fbfcfe;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  max-width: 370px;
  text-align: center;
  margin-bottom: 60px;
}

.about__btn {
  background-color: transparent;
  color: #fbfcfe;
  text-align: center;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.115px;
  border-radius: 24px;
  border: 1px solid #fbfcfe;
  padding: 16px 32px 14px 32px;
  margin-bottom: 80px;
}

.about__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 327px;
  width: 100%;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 57.73px;
  padding-top: 86px;
}

@media screen and (min-width: 765px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
    max-width: 551px;
  }

  .about {
    background-size: contain;
    background-image: url(/img/about-bg-t.png);
    background-repeat: no-repeat;
  }

  .about__container {
    margin-top: 85px;
  }

  .about__title {
    color: #fbfcfe;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.369px;
  }

  .about__text {
    max-width: 456px;
    margin-bottom: 32px;
  }
}

@media (min-width: 992px) {
  .about__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .about {
    background-size: contain;
    background-image: url(/img/about-bg-d.png);
    background-repeat: no-repeat;
  }

  .about__title {
    color: #fbfcfe;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.369px;
    padding-top: 100px;
    text-align: left;
  }

  .about__text {
    text-align: left;
  }

  .about__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
